[Unit]
Description=Veeam Backup Server Honeypot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/VBR/vbr_server.py
WorkingDirectory=/opt/VBR
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
