[Unit]
Description=Veeam Windows Repository Honeypot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/VWR/vwr_honeypot.py
WorkingDirectory=/opt/VBR
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
